
<div class="loginContainer">
    <h4>BIENVENIDO</h4>
    <form>
      <div class="imgcontainer">
        <img src="../../../assets/loginavatar.png" alt="Avatar" class="avatar">
        
      </div>
    
      <div class="formLogin">
        <label  class="controls" for="uname"><b>Usuario:</b></label>
        <input  class=""
                type="text"
                name="usuario"
                placeholder="Usuario"
                required>
    
        <label  class="controls" for="psw"><b>Contraseña:</b></label>
        <input  class=""
                type="password"
                name="contrasena"
                placeholder="**********"
                required>
        <button class="button" type="submit" [routerLink]="['/home']">Ingresar</button>
      </div>
    </form>
  </div>
  